body{
    background-color: #6c3c0c;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
}
#laCreme{
    position: absolute;
    height: 280px;
    width: auto;
    margin-top: -10px;
}
#laNut{
    height: 350px;
    width: auto;
    margin-left: 180px;
    margin-top: -50px;
}
